<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">Type your Email to reset your password</div>
      <div class="panel-body">
        <div  class="form-group">
          <label for="email">Email</label>
          <input type="email" [(ngModel)]="email" class="form-control" value="">
        </div>
        <div  class="form-group">
          <button class="btn btn-primary" (click)="request()" [disabled]="sending" *ngIf="!sent">Reset Password</button>
          <div *ngIf="sent">
            <p>Email sent! Click on the link in the email to reset your password.</p>
            <a class="btn btn-primary" [routerLink]="['/login']">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>