<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h2>Invitation</h2>
      </div>
      <div class="panel-body">
        <div>
          <div>Set your password</div> <br/> 
        </div>
        <form [formGroup]="invitePwdForm" (ngSubmit)="setPassword(invitePwdForm.value)">
          <ua-input label="Password" type="password" formGroupName="password"
            [status]="ems.status.password"
            [message]="ems.message.password"></ua-input>
          <ua-input label="Confirm Password" type="password" formGroupName="confirm"
            [status]="ems.status.confirm"
            [message]="ems.message.confirm"></ua-input>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Set Password</button>
          </div>
        </form>
        <pre>{{invitePwdForm.value | json}}</pre>
        <pre>{{invitePwdForm.status}}</pre>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>