<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h2>Invitation</h2>
      </div>
      <div class="panel-body">
        <div>
          <div>Username: <b>username</b></div>
          <div>Email: <b>user@mail.com</b></div>
          <div>Set your password</div> <br/> 
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" value="">
        </div>
        <div  class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" value="">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="setPassword()">Set Password</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>