<div [formGroup]="usernameInputGroup">
  <div class="form-group has-feedback" [ngClass]="usernameClass">
    <label>Username</label>
    <input type="text" class="form-control" name="username" formControlName="username" />
    <span *ngIf="error" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span *ngIf="success" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <span *ngIf="searching" class="glyphicon ua-icon-loader form-control-feedback" aria-hidden="true"></span>
    <div class="alert alert-danger" *ngIf="error">
      {{errorMessage}}
    </div>
    <div class="alert alert-info" *ngIf="searching">
      Checking if username exists.
    </div>
    <div class="alert" *ngIf="(!searching && !error)" style="visibility:hidden">
      Placeholder alert.
    </div>
  </div>
</div>