<form [formGroup]="transForm" (ngSubmit)="saveTrans(transForm.value)">
  <p>
    <a class="btn btn-warning" [routerLink]="['/daily/trans']"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
  </p>
  
  <div class="row">
    <div class="col-sm-4">
      <ua-input label="Date"
        formControlName="date"
        [status]="ems.status.date"
        [message]="ems.message.date"></ua-input>
    </div>
    <div class="col-sm-8">
      <ua-quick-time-input label="Time"
        formControlName="time"
        [status]="ems.status.time"
        [message]="ems.message.time"></ua-quick-time-input>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ua-quick-category-select label="Category"
        formControlName="cat_id"
        [status]="ems.status.cat_id"
        [message]="ems.message.cat_id">
        </ua-quick-category-select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ua-input label="Value"
        formControlName="value"
        [status]="ems.status.value"
        [message]="ems.message.value"></ua-input>
    </div>
    <div class="col-sm-6">
      <ua-select label="Type"
        formControlName="type"
        [options]="transType"
        [status]="ems.status.type"
        [message]="ems.message.type">
      </ua-select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ua-select label="Account From"
        formControlName="from"
        [options]="accounts"
        [status]="ems.status.from"
        [message]="ems.message.from"></ua-select>
    </div>
    <div class="col-sm-6">
      <ua-select label="Account To"
        formControlName="to"
        [options]="accounts"
        [status]="ems.status.to"
        [message]="ems.message.to"></ua-select>
    </div>
  </div>
  <p>
    <button class="btn btn-primary btn-lg" type="submit" [disabled]="!transForm.valid">
      <i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
  </p>
</form>
<pre>{{ transForm.value | json}}</pre>