<form [formGroup]="transForm" (ngSubmit)="saveTrans(transForm.value)">
  <p>
    <a class="btn btn-warning" [routerLink]="['/daily/trans']"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
  </p>
  
  <div class="row">
    <div class="col-sm-4">
      <ua-input label="Date"
        formControlName="date"
        [status]="ems.status.date"
        [message]="ems.message.date"></ua-input>
    </div>
    <div class="col-sm-8">
      <ua-quick-time-input label="Time"
        formControlName="time"
        [status]="ems.status.time"
        [message]="ems.message.time"></ua-quick-time-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4">
      
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
  <p>
    <button class="btn btn-primary btn-lg" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
  </p>
</form>