<form (ngSubmit)="saveTrans()" name="transForm">
  <p>
    <a class="btn btn-warning" [routerLink]="['/daily/trans']"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
  </p>
  <div class="row">
    <div class="col-sm-12">
      <label>Event Date</label> 
      <h4>{{trans.event_date | date:'yyyy-MM-dd HH:mm:ss'}}</h4> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Date</label> 
      <input type="text" class="form-control" 
        pattern="\d{4}-\d{2}-\d{2}" required
        [(ngModel)]="edate" (change)="onDateChange()" name="edate" [readonly]="dateReadOnly" />
    </div>
    <div class="col-sm-8">
      <label>Time</label> 
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="onNow()" [disabled]="dateReadOnly">Now</button>
          <button class="btn btn-primary" (click)="onSub(1)" [disabled]="dateReadOnly">-1mn</button>
          <button class="btn btn-primary" (click)="onSub(2)" [disabled]="dateReadOnly">-2mn</button>
          <button class="btn btn-primary" (click)="onSub(5)" [disabled]="dateReadOnly">-5mn</button>
        </span>
        <input type="text" class="form-control" [(ngModel)]="etime" name="etime" pattern="\d{2}:\d{2}:\d{2}" (change)="onTimeChange()" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" [(ngModel)]="trans.cat_id" name="cat_id" required>
            <option value="">--</option>
            <option *ngFor="let cat of cats" value="{{cat.id}}">{{cat.name}}</option>
        </select> 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Value</label>
        <input type="number" class="form-control" name="value" [(ngModel)]="trans.value" />
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label>Type</label>
        <select class="form-control" name="type" [(ngModel)]="trans.type" required>
            <option value="CASH">Cash</option>
            <option value="DEBIT">Debit</option>
        </select> 
      </div>
    </div>
  </div>
  <p>
    <button class="btn btn-primary btn-lg" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
  </p>
</form>