<form (ngSubmit)="searchUsers()">
  <div class="input-group">
    <span class="input-group-btn">
      <a class="btn btn-primary" [routerLink]="['/user/add']">
        <i class="glyphicon glyphicon-plus"></i> Add
      </a>
    </span>
    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</form>
<div class="ua-record-row" *ngFor="let user of users; let i = index" [@record]="user.status">
  <div class="btn-group btn-group-lg" role="group">
    <a class="btn btn-danger" (click)="deleteUser(i)"><i class="glyphicon glyphicon-trash"></i></a>
    <div class="btn btn-primary" [routerLink]="['/user', user.id]">
      <i class="glyphicon glyphicon-pencil"></i>
      <span>{{user.fname}} {{user.lname}}</span>
      <span class="hidden-xs">{{user.username}}</span>
      <span class="hidden-xs">({{user.email}})</span>
    </div>
  </div>
</div>