<form (ngSubmit)="searchUsers()">
  <div class="input-group">
    <span class="input-group-btn">
      <a class="btn btn-primary" [routerLink]="['/user/add']">
        <i class="glyphicon glyphicon-plus"></i> Add
      </a>
    </span>
    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{user.username}}</td>
      <td>{{user.fname}} {{user.lname}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/user', user.id]"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="btn btn-danger" (click)="deleteUser(i)" ><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>