<form>
  <div class="input-group">
    <span class="input-group-btn">
      <a class="btn btn-primary" [routerLink]="['/daily/accs/add']">
        <i class="glyphicon glyphicon-plus"></i> Add
      </a>
    </span>
    <input type="text" class="form-control" placeholder="Search..." />
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>
</form>
<div class="ua-record-row" *ngFor="let acc of accs; let i = index" [@record]="acc.status">
  <div class="btn-group btn-group-lg" role="group">
    <button class="btn btn-danger" (click)="deleteAcc(i)"><i class="glyphicon glyphicon-trash"></i></button>
    <a class="btn btn-warning" (click)="editCat(acc,i)"><i class="glyphicon glyphicon-pencil"></i></a>
    <div class="btn btn-default">
      <span>{{acc.id}}</span>
      <span>{{acc.name}}</span>
      <span>(${{acc.value | number:'1.2-2'}})</span>
    </div>
  </div>
</div>