<div [formGroup]="group">
  <div class="form-group has-feedback" [ngClass]="classes.value">
    <label>{{label}}</label>
    <input type="password" class="form-control" name="value" formControlName="value"/>
    <span *ngIf="errors.value" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span *ngIf="!errors.value && !pristine.value" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <div class="alert alert-danger" *ngIf="errors.value">
      {{errors.value}}
    </div>
    <div class="alert" *ngIf="!errors.value" style="visibility:hidden">
      Placeholder alert.
    </div>
  </div>
  <div class="form-group has-feedback" [ngClass]="classes.confirmed">
    <label>{{confirmLabel}}</label>
    <input type="password" class="form-control" name="confirmed" formControlName="confirmed"/>
    <span *ngIf="errors.confirmed" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span *ngIf="!errors.confirmed && !pristine.confirmed" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    <div class="alert alert-danger" *ngIf="errors.confirmed">
      {{errors.confirmed}}
    </div>
    <div class="alert" *ngIf="!errors.confirmed" style="visibility:hidden">
      Placeholder alert.
    </div>
  </div>
</div>