/* You can add global styles to this file, and also import other style files */
.validatable .ng-valid,
.validatable .ng-valid[required],
.validatable .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.validatable .ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ua-record-row {
  margin-top: 0.5em;
}

.glyphicon.ua-icon {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin: 8px;
    margin-right: 0;
}

.glyphicon.ua-icon.ua-icon-bars {
    background-image:url(/assets/loaders/bars.svg);
}

.mrc_footer {
  font-size: 10px;
  font-weight: bold;
  position:absolute;
  bottom:0;
  right:0;
  padding:6px;
}