/* You can add global styles to this file, and also import other style files */
form.validatable .ng-valid,
form.validatable .ng-valid[required],
form.validatable .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
form.validatable .ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ua-record-row {
  margin-top: 0.5em;
}