<div>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-default panel-primary">
      <div class="panel-heading">
        <h2>Recover Password</h2>
      </div>
      <div class="panel-body">
        <div>
          <div>Set your password</div> <br/> 
        </div>
        <form [formGroup]="setPwdForm" (ngSubmit)="setPassword(setPwdForm.value)">
          <ua-input label="Password" formControlName="password" type="password"
            [status]="ems.status.password"
            [message]="ems.message.password"></ua-input>
          <ua-input label="Confirm Password" formControlName="confirmPassword" type="password"
            [status]="ems.status.confirmPassword"
            [message]="ems.message.confirmPassword"></ua-input>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Set Password</button>
          </div>
        </form>
        <pre>{{setPwdForm.value | json}}</pre>
        <pre>{{setPwdForm.status}}</pre>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>