<form (ngSubmit)="signupUser()" #signupForm="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" required
      [(ngModel)]="username"  #vusername="ngModel"/>
    <div [hidden]="vusername.valid || vusername.pristine" class="alert alert-danger">
      Username is required
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" required
      [(ngModel)]="password" #vpassword="ngModel"/>
    <div [hidden]="vpassword.valid || vpassword.pristine" class="alert alert-danger">
      Password is required
    </div>
  </div><div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" name="confirmPassword" required
      [(ngModel)]="confirmPassword" uav-equal="password" #vconfirmPassword="ngModel"/>
    <div [hidden]="vconfirmPassword.valid || vconfirmPassword.pristine" class="alert alert-danger">
      Password mismatch
    </div>
  </div>
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" name="fname" required
      [(ngModel)]="fname" #vfname="ngModel"/>
    <div [hidden]="vfname.valid || vfname.pristine" class="alert alert-danger">
      First Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" name="lname" required
      [(ngModel)]="lname" #vlname="ngModel" />
    <div [hidden]="vlname.valid || vlname.pristine" class="alert alert-danger">
      Last Name is required
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email"
    pattern="^[0-9A-Za-z._-]+@[0-9A-Za-z._-]+\.[0-9A-Za-z._-]+$" required
      [(ngModel)]="email" #vemail="ngModel"/>
    <div [hidden]="vemail.valid || vemail.pristine" class="alert alert-danger">
     Email is required, and must be properly formatted
    </div>
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select class="form-control" name="role" [(ngModel)]="role" required>
      <option value="">-- Select Role --</option>
      <option value="ADMIN">Admin</option>
      <option value="USER">User</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!signupForm.form.valid">
      <i class="glyphicon glyphicon-plus"></i>Sign up!
    </button>
    <button type="button" class="btn btn-warning btn-lg" (click)="signupForm.reset()">
      <i class="glyphicon glyphicon-plus"></i>Reset
    </button>
  </div>
</form>