<form novalidate [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
  <div class="row">
    <div class="col-sm-4">
      <ua-input label="Username"
        formControlName="username"
        [status]="ems.status.username"
        [message]="ems.message.username"></ua-input>
    </div>
    <div class="col-sm-8">
      <ua-input label="Email"
        formControlName="email"
        [status]="ems.status.email"
        [message]="ems.message.email"></ua-input>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <ua-input label="First Name"
        formControlName="fname"
        [status]="ems.status.fname"
        [message]="ems.message.fname"></ua-input>
    </div>
    <div class="col-sm-6">
      <ua-input label="Last Name"
        formControlName="lname"
        [status]="ems.status.lname"
        [message]="ems.message.lname"></ua-input>
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!userForm.valid">
      <i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
  </div>
</form>