<form novalidate [formGroup]="userForm" (ngSubmit)="saveUser(userForm.value)">
  <p>
    <a class="btn btn-warning" [routerLink]="['/users']"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
  </p>
  <ua-username-input label="Username" default="{{user.username}}" (groupCreated)="onUsername($event)"></ua-username-input>
  <ua-name-input label="First Name" (groupCreated)="onFname($event)"></ua-name-input>
  <ua-name-input label="Last Name" (groupCreated)="onLname($event)"></ua-name-input>
  
  <ua-user-email-input label="Email" (groupCreated)="onEmail($event)"></ua-user-email-input>
  <input type="hidden" formControlName="role" />
  
  <p>
    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
  </p>
</form>