<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.fname}} {{user.lname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/user', user.id]"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="btn btn-danger" (click)="deleteUser()"><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>