<p>
  test works!
</p>
<form [formGroup]="testForm" novalidate (ngSubmit)="submit(testForm.value)">
  <ua-input label="My Input"
    formControlName="myinput"
    [status]="ems.status.myinput"
    [message]="ems.message.myinput"></ua-input>
  <ua-input label="My Email"
    formControlName="myemail"
    [status]="ems.status.myemail"
    [message]="ems.message.myemail"></ua-input>
  <ua-select label="My List"
    formControlName="mylist"
    [status]="ems.status.mylist"
    [options]="mylistOptions"
    [message]="ems.message.mylist"></ua-select>
  <ua-quick-select label="My Quick Select"
    formControlName="myquick"
    [status]="ems.status.myquick"
    [options]="mylistOptions"
    [quicks]="myquickOptions"
    [message]="ems.message.myquick"></ua-quick-select>
  <ua-input label="Password"
    type="password"
    formControlName="password"
    [status]="ems.status.password"
    [message]="ems.message.password"></ua-input>
  <ua-input label="Confirm Password"
    type="password"
    formControlName="confirmPassword"
    [status]="ems.status.confirmPassword"
    [message]="ems.message.confirmPassword"></ua-input>
  <button type="submit" class="btn btn-primary" [disabled]="testForm.invalid">Save</button>
</form>
<pre>{{ testForm.value | json }}</pre>
<pre>{{ testForm.get('myinput').status }}</pre>