<p>
  test works!
</p>
<form [formGroup]="testForm" novalidate (ngSubmit)="submit(testForm.value)">
  <ua-input label="My Input"
    formControlName="myinput"
    [status]="ems.status.myinput"
    [message]="ems.message.myinput"></ua-input>
  <ua-input label="My Email"
    formControlName="myemail"
    [status]="ems.status.myemail"
    [message]="ems.message.myemail"></ua-input>
  <ua-select label="My List"
    formControlName="mylist"
    [status]="ems.status.mylist"
    [message]="ems.message.mylist"></ua-select>
  <button type="submit" class="btn btn-primary" [disabled]="testForm.invalid">Save</button>
</form>
<pre>{{ testForm.value | json }}</pre>
<pre>{{ testForm.get('myinput').status }}</pre>