<div class="form-group has-feedback" [ngClass]="fieldClass">
  <label>{{label}}</label>
  <div class="input-group">
    <span class="input-group-btn" *ngIf="quicks">
      <button *ngFor="let q of quicks" type="button" class="btn btn-primary" (click)="onQuick($index, q)">{{q.text}}</button>
    </span>
    <select class="form-control"
      [(ngModel)]="value"
      (change)="onKeyUp($event)">
      <option value="">-- --</option>
      <option *ngFor="let option of options" [value]="option.value">{{option.text}}</option>
    </select>
  </div>
  <div class="alert" [ngClass]="messageClass">
    &nbsp;{{message}}
  </div>
</div>